---
import lodash from "lodash";
const { groupBy } = lodash;

import Layout from "../layouts/Layout.astro";

import { getCourses } from "../external_api/courses";
import CourseCard from "../components/CourseCard.astro";

const { courses } = await getCourses();

const upcomingCourses = courses.filter((course) => course.status === "beta");
const liveCourses = courses.filter((course) => course.status === "live");

const groupedLiveCourses = groupBy(liveCourses, "language");
---

<Layout title="Kursy">
  <div class="mx-auto p-5 max-w-[1200px]">
    <div class="flex items-baseline mb-5 gap-2">
      <h1 class="text-3xl font-medium text-black dark:text-white">Kursy</h1>
    </div>
    <div id="achievements" class="grid grid-cols-1">
      {
        Object.values(groupedLiveCourses).map((group) => (
          <div>
            <h2 class="text-2xl font-medium text-black dark:text-white uppercase py-5">
              {group[0].language}
            </h2>
            <div class="grid gap-5 grid-cols-1 lg:grid-cols-2">
              {group.map((course) => (
                <CourseCard {...course} />
              ))}
            </div>
          </div>
        ))
      }
      {
        upcomingCourses.length > 0 && (
          <div>
            <h2 class="text-2xl font-medium text-black dark:text-white uppercase py-5">
              Nadchodzące
            </h2>
            <div class="grid gap-5 grid-cols-1 lg:grid-cols-2">
              {upcomingCourses.map((course) => (
                <CourseCard {...course} highlight />
              ))}
            </div>
          </div>
        )
      }
    </div>
  </div>
</Layout>
