---
import UserCard from "../components/UserCard.astro";
import Layout from "../layouts/Layout.astro";

import { getUsers } from "../external_api/index";

const { users, organizations, achievements, courses } = await getUsers();

const firstOrganization = organizations?.[0];

const daysAgo = (date: string) => {
  const d = new Date(date);
  const diff = new Date().getTime() - d.getTime();
  return Math.floor(diff / (1000 * 60 * 60 * 24));
};

const daysTo = (date: string) => {
  const d = new Date(date);
  const diff = d.getTime() - new Date().getTime();
  return Math.floor(diff / (1000 * 60 * 60 * 24));
};
---

<Layout title="Użytkownicy">
  <div class="mx-auto p-5 max-w-[1200px]">
    <div
      id="users"
      class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3"
    >
      {
        users.map((user, i) => (
          <UserCard user={user} achievements={achievements} courses={courses} />
        ))
      }
    </div>
  </div>
</Layout>
