---
import UserCard from "../components/UserCard.astro";
import Layout from "../layouts/Layout.astro";

import { getUsers } from "../utils/queries";

const users = await getUsers();
---

<Layout title="Gildia">
  <div class="mx-auto p-5 max-w-[1200px]">
    <h1 class="text-3xl font-medium text-[#fff] mb-5">Gildia Golang</h1>
    <div id="users" class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
      {users.map((user, i) => <UserCard user={user} index={i} />)}
    </div>
  </div>
</Layout>
