---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Liderzy">
  <div class="max-w-[370px] mx-auto p-5">
    <div id="users" class="flex flex-col items-center gap-5 text-[#fff]">
      niebawem...
    </div>
  </div>
</Layout>
