---
import DarkModeToggle from "./DarkModeToggle.astro";
---

<div class="flex items-center gap-4">
  <img
    src="https://www.boot.dev/img/bootdev-logo-full-small.webp"
    alt="Gildia Golang"
    class="h-[42px]"
  />
  <div>
    <div class="text-[#393939] dark:text-[#fff] font-[500] text-[16px] tracking-[1px]">
      Gildia Golang
    </div>
    <div class="text-[#393939] dark:text-[#fff] font-[400] text-[12px] tracking-[1px]">@gildiagolang</div>
  </div>
  <DarkModeToggle />
</div>
