---
import DarkModeToggle from "./DarkModeToggle.astro";
---

<div class="flex items-center gap-4">
  <img
    src="https://www.boot.dev/img/bootdev-logo-full-small.webp"
    alt="Gildia Golang"
    class="h-[42px]"
  />
  <DarkModeToggle />
</div>
