<div class="flex items-center gap-4">
  <svg
    width="41"
    height="27"
    viewBox="0 0 41 27"
    xmlns="http://www.w3.org/2000/svg"
    ><path
      fill="#fff"
      d="M40.0489 7.39266L21.6766 25.7649C21.3073 26.1355 20.8368 26.3887 20.3241 26.4929C19.8114 26.5971 19.2794 26.5475 18.7948 26.3504C18.4751 26.22 18.1862 26.0244 17.9462 25.7763C17.445 25.277 17.1622 24.5994 17.1596 23.892L17.1721 23.0064L17.1428 9.08259L19.8868 6.33865L19.8895 16.4197L19.8781 20.2999L19.879 23.8933L21.7002 22.0471L38.1267 5.47093C38.2524 5.34233 38.4023 5.24002 38.5678 5.16982C38.7334 5.09953 38.9112 5.06284 39.0909 5.06185C39.2708 5.06086 39.4489 5.09546 39.6152 5.16377C39.7816 5.23218 39.9327 5.33282 40.0598 5.45992C40.1869 5.58703 40.2875 5.73812 40.3558 5.90439C40.4242 6.07076 40.4588 6.24892 40.4578 6.42867C40.4567 6.60852 40.4202 6.78629 40.3499 6.95176C40.2797 7.11733 40.1774 7.26694 40.0489 7.39266Z"
    ></path><path
      fill="#fff"
      d="M0.974164 19.985L19.3464 1.61275C19.7157 1.24215 20.1862 0.988885 20.699 0.884703C21.2116 0.780531 21.7437 0.830084 22.2283 1.02717C22.5478 1.15771 22.8368 1.35322 23.0769 1.60131C23.578 2.10059 23.8608 2.77815 23.8634 3.48554L23.8512 4.3715L23.8801 18.2952L21.1363 21.039L21.1333 10.958L21.1447 7.07797L21.1436 3.48475L19.3224 5.33093L2.89591 21.9071C2.77032 22.036 2.62038 22.1387 2.45478 22.2092C2.28918 22.2797 2.11122 22.3167 1.93123 22.3179C1.75124 22.3191 1.57281 22.2845 1.4063 22.2162C1.23978 22.1479 1.08851 22.0471 0.961233 21.9198C0.833962 21.7925 0.733234 21.6412 0.664902 21.4748C0.59657 21.3082 0.561996 21.1298 0.56318 20.9498C0.564364 20.7698 0.601282 20.5919 0.671799 20.4263C0.742316 20.2606 0.845228 20.1106 0.974164 19.985Z"
    ></path></svg
  >
  <div>
    <div class="text-[#fff] font-[500] text-[16px] tracking-[1px]">guildmetrics</div>
    <div class="text-[#fff] font-[400] text-[12px]">www.boot.dev</div>
  </div>
</div>
