---
const {
    imageURL,
    title,
    description,
    unlockedAt,
} = Astro.props
---
<div class={`flex items-center text-left gap-2.5 ${unlockedAt ? "" : "opacity-20"}`}>
  <div>
    <img
      class="block"
      src={imageURL}
      width="40"
      height="40"
      alt={title}
    />
  </div>
  <div>
    <div class="font-bold">{title}</div>
    <div>{description}</div>
  </div>
</div>
